@charset="UTF-8";
*{margin: 0px; padding:0px;}
.som{
	width: 750px;
	height: 800px;
	margin: 0px auto;
}



h1{
	color:#666;
	margin-left: 30px;
}
p{
	line-height: 50px;
	text-indent: 2em;

}
