*{margin: 0px; padding:0px;}
html,body{
	min-width: 1200px;
}
.top{
	height:70px;
	width:100%;
	background:#333;
}
ol{
	width:510px;
	height:72px;
	margin:0 auto;
	float: right;
}
ol li{
	list-style:none;
	float:left;
	color:#fff;	
	line-height:70px;
	width:100px;
	text-align: center;
}
ol li:nth-child(2){
	background: #000;
}
ol li a{
	color: #fff;
	text-decoration: none;

}
ol li a:hover{
	display: block;
	background: #000;

}
.menu{
	background:#333;
	width:1200px;
	height:70px;
	margin:0 auto;
}
.menu img{
	float:left;
	margin-top:10px;
	margin-left:30px;
}
.head{
	background:url(../images/t2.png);
	background-size:100% 100%;
	width:100%;
	height:250px;
}
h5{
	float: left;
	font-size: 16px;
	color: #fff;
	margin-top: 70px;
	margin-left: 400px;
}
h5::first-line{
	font-size: 25px;
}

.box{
	width: 1400px;
	height: 1080px;
	margin: 0px auto;
	margin-top: 10px;

}
.zuo{
	width: 830px;
	height:1060px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;

}
.haeder{
	width: 780px;
	height: 40px;
	margin-top: 10px;
	margin-left: 10px;
}
.p1{
	border-top: 2px solid #008001;
	border-left: 1px solid #ccc;
	float: left;
	width: 100px;
	height: 30px;
	text-align: center;
	color: #666;
}
.p2{
	width: 674px;
	height: 30px;
	float: left;	
	background: #eee;
}
.re{
	width: 80px;
	float: left;
	margin-left: 30px;
	margin-top: 3px;
}
.p2 ul{
	width: 200px;
	height: 30px;
	float:right;
	list-style: none;
	margin-left: 10px;
}
.p2 ul li{
	float:left;
	color: #666;
	line-height: 30px;
	margin-left: 25px;
}
.p2 ul li a{
	text-decoration: none;
	color: #fff;
}
.tui{
	color: #fff;
	width: 45px;
	text-align: center;
	background: #090;
}

.section{
	margin-top: 15px;
	margin-left: 10px;
	width: 840px;
	height:1150px;

}
.film{
	margin-top: 15px;
	width: 820px;
	height: 220px;
	margin-left: 8px;

}
.photo{
	float: left;
	width:310px; 
	height:220px;
}
.photo img{
	margin-left: 5px;
	margin-top: 5px;
	width: 300px;
	height: 210px;
}
.yo{
	margin-top: 5px;
	width:490px;
	height: 210px;
	float: left;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
h1{
	font-size: 18px;
	margin-left: 30px;
	margin-top: 10px;
	font-weight: normal;
}
.yo a{
	display: inline-block;
	text-decoration: none;
	margin-left: 30px;
	margin-top:10px;
	color:#000;
}
input{
	border-radius:5px;
	border:none;
	width: 40px;
	height: 24px;
	text-align: center;
	margin-top:10px;
	margin-left: 30px;
	cursor: pointer;
}
.time{
	margin-top: 15px;
	margin-left: 30px;
	background: #f2f2f5;
}
span{
	color: #41e1d2;
}
.money{
	font-size: 30px;
	color: #fb6202;

	width: 150px;
	height: 60px;
	float: right;
	margin-top: -150px;
	margin-right: 20px;
	text-align: center;
}
.money::first-letter{
	font-size: 15px;

}
del{
	font-size: 16px;
	color: #ccc;
}
.mai{
	float:right;
	width: 140px;
	height: 42px;
	border-radius: 8px;
	background: #fb6202;
	color: #fff;
	margin-top: -125px;
	margin-left: 295px;
}
.jia{
	
	width: 210px;
	height: 55px;
	margin: 10px auto;
}

 .jia input{
	display: block;
	width: 200px;
	height:50px;
	font-size: 20px;
	border-radius: 10px;
	border: 1px solid #ccc;
	
}
.jia a{
	text-decoration: none;

}

.you{
	width: 500px;
	height: 1060px;
	float:right;
	margin-right:30px;
	margin-top: 10px;


}
.you .shang{
	width: 500px;
	height: 310px;
	border: 1px solid #f2f2f5;
}
.shang a{
	display: inline-block;
	width:115px;
	height:38px;
	float:left;
	background:#E5E5E5;
	margin-left:8px;
	margin-top:10px;
	text-align:center;
	line-height: 38px;
	text-decoration: none;
	color: #666;
	font-size: 15px;
}
.shang a:hover{
	color:#000;
}
.you h1{
	width:484px;
	height:40px;
	font-size: 20px;
	color: #666;
	margin-left:8px;
	margin-top:10px;
	background: #E5E5E5;
	text-indent: 10px;
	line-height:40px;
}
.xia{
	width: 500px;
	height: 600px;
	float: left;
	margin-top: 20px;
	border: 1px solid #f2f2f5;

}

.xia ul{
	
	margin-top: 10px;
	width: 490px;
	height: 537px;

}
.xia  ul li{
	list-style: none;
	float: left;
	margin-left: 15px;
	width:145px;
	height:160px;
	margin-top: 15px;
	border: 1px solid #f2f2f5;

	}
.xia a{
	display: inline-block;
	float:left;
	text-align:center;
	text-decoration: none;
	color: #666;
	font-size: 15px;
	line-height: 25px;
}
.xia a:hover{
	color: #000;
}
.xia img{
	width:145px;
	height:120px;
}
.di{
	width: 500px;
	height: 100px;
	float: left;
	border: 1px solid #f2f2f5;
	margin-top: 20px;
}
.di a{
	text-decoration: none;
	color: #666;
}
.di a:hover{
	color:#000;
}
.di p{
	width:115px;
	height:30px;
	float:left;
	font-size:15px;
	margin-left:8px;
	text-align: center;
	line-height: 30px;
	background: #E5E5E5;
	margin-top: 15px;
}
.bottom{
	width: 100%;
	height: 200px;
	float: left;
}
.tt{
	width: 1200px;
	height:100%;
	margin:0px auto;
	
}
.b1{
	width:290px;
	height:100%;
	float: left;
	margin-left: 70px;
}
.b1 a{
	text-decoration: none;
	color: #666;
}
.b1 a:hover{
	color: #fff;
}
.bottom{
	background: #222;
}
h3{
	margin-top:20px;
	font-size: 20px;
	color: #a0a4a5;
	border-bottom: 1px dotted #f2f2f5;
	height:40px;
}
p{
	line-height: 25px;
   color: #a29b9b;	
}
.ko{
	display: block;
	width: 100%;
	height: 50px;
	background: #000;
	text-align:center;
	line-height:60px;
	font-size: 14px;
	color: #666;
}
.pu{
	border: 1px solid #41e1d2;
	
}